 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 415px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 111px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 271px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-1 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-4 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-1 .u-gallery-1 {
    height: 221px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-1 .u-back-image-1 {
    width: auto;
  }

  .u-section-1 .u-back-image-2 {
    width: auto;
  }

  .u-section-1 .u-back-image-3 {
    width: auto;
  }

  .u-section-1 .u-back-image-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-gallery-1 {
    height: 723px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2362px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 2229px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1559px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1426px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 876px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 712px;
  grid-template-columns: auto auto auto auto;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-back-image-1 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-2 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-3 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-4 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-5 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-6 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-7 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-8 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-9 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-10 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-11 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-12 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-2 .u-gallery-1 {
    height: 588px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-2 .u-back-image-1 {
    height: auto;
  }

  .u-section-2 .u-back-image-2 {
    height: auto;
  }

  .u-section-2 .u-back-image-3 {
    height: auto;
  }

  .u-section-2 .u-back-image-4 {
    height: auto;
  }

  .u-section-2 .u-back-image-5 {
    height: auto;
  }

  .u-section-2 .u-back-image-6 {
    height: auto;
  }

  .u-section-2 .u-back-image-7 {
    height: auto;
  }

  .u-section-2 .u-back-image-8 {
    height: auto;
  }

  .u-section-2 .u-back-image-9 {
    height: auto;
  }

  .u-section-2 .u-back-image-10 {
    height: auto;
  }

  .u-section-2 .u-back-image-11 {
    height: auto;
  }

  .u-section-2 .u-back-image-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2037px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1844px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5874px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 5601px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3881px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3608px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 415px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 541px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-1 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-2 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-3 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-4 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-5 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-6 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-7 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-8 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-3 .u-gallery-1 {
    height: 445px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-3 .u-back-image-1 {
    width: auto;
  }

  .u-section-3 .u-back-image-2 {
    width: auto;
  }

  .u-section-3 .u-back-image-3 {
    width: auto;
  }

  .u-section-3 .u-back-image-4 {
    width: auto;
  }

  .u-section-3 .u-back-image-5 {
    width: auto;
  }

  .u-section-3 .u-back-image-6 {
    width: auto;
  }

  .u-section-3 .u-back-image-7 {
    width: auto;
  }

  .u-section-3 .u-back-image-8 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1412px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4175px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-gallery-1 {
    height: 4312px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2630px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2767px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 647px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 503px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-1 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-2 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-3 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-4 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-5 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-6 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-7 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-8 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-4 .u-gallery-1 {
    height: 414px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-4 .u-back-image-1 {
    height: auto;
  }

  .u-section-4 .u-back-image-2 {
    height: auto;
  }

  .u-section-4 .u-back-image-3 {
    height: auto;
  }

  .u-section-4 .u-back-image-4 {
    height: auto;
  }

  .u-section-4 .u-back-image-5 {
    height: auto;
  }

  .u-section-4 .u-back-image-6 {
    height: auto;
  }

  .u-section-4 .u-back-image-7 {
    height: auto;
  }

  .u-section-4 .u-back-image-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1447px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1314px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4142px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 4009px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2709px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2576px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 901px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 111px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-gallery-1 {
  height: 757px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-5 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-1 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-2 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-3 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-4 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-5 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-6 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-7 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-8 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-9 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-10 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-11 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-12 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-5 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-5 .u-gallery-1 {
    height: 624px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-5 .u-back-image-1 {
    height: auto;
  }

  .u-section-5 .u-back-image-2 {
    height: auto;
  }

  .u-section-5 .u-back-image-3 {
    height: auto;
  }

  .u-section-5 .u-back-image-4 {
    height: auto;
  }

  .u-section-5 .u-back-image-5 {
    height: auto;
  }

  .u-section-5 .u-back-image-6 {
    height: auto;
  }

  .u-section-5 .u-back-image-7 {
    height: auto;
  }

  .u-section-5 .u-back-image-8 {
    height: auto;
  }

  .u-section-5 .u-back-image-9 {
    height: auto;
  }

  .u-section-5 .u-back-image-10 {
    height: auto;
  }

  .u-section-5 .u-back-image-11 {
    height: auto;
  }

  .u-section-5 .u-back-image-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2091px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1958px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 6086px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-gallery-1 {
    height: 5953px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3963px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3830px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-6 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-gallery-1 {
  height: 456px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-6 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-4 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-5 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-6 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-7 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-back-image-8 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-6 .u-gallery-1 {
    height: 375px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-6 .u-back-image-1 {
    width: auto;
  }

  .u-section-6 .u-back-image-2 {
    width: auto;
  }

  .u-section-6 .u-back-image-3 {
    width: auto;
  }

  .u-section-6 .u-back-image-4 {
    width: auto;
  }

  .u-section-6 .u-back-image-5 {
    width: auto;
  }

  .u-section-6 .u-back-image-6 {
    width: auto;
  }

  .u-section-6 .u-back-image-7 {
    width: auto;
  }

  .u-section-6 .u-back-image-8 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1190px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3760px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-gallery-1 {
    height: 3627px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2469px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2336px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 816px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-7 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 672px;
  grid-template-columns: auto auto auto auto;
  margin-top: 21px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-7 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-1 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-2 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-3 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-4 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-5 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-6 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-7 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-8 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-9 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-10 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-11 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-12 {
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-7 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-7 .u-gallery-1 {
    height: 555px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-7 .u-back-image-1 {
    height: auto;
  }

  .u-section-7 .u-back-image-2 {
    height: auto;
  }

  .u-section-7 .u-back-image-3 {
    height: auto;
  }

  .u-section-7 .u-back-image-4 {
    height: auto;
  }

  .u-section-7 .u-back-image-5 {
    height: auto;
  }

  .u-section-7 .u-back-image-6 {
    height: auto;
  }

  .u-section-7 .u-back-image-7 {
    height: auto;
  }

  .u-section-7 .u-back-image-8 {
    height: auto;
  }

  .u-section-7 .u-back-image-9 {
    height: auto;
  }

  .u-section-7 .u-back-image-10 {
    height: auto;
  }

  .u-section-7 .u-back-image-11 {
    height: auto;
  }

  .u-section-7 .u-back-image-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1739px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 5410px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-gallery-1 {
    height: 5277px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3537px;
  }

  .u-section-7 .u-gallery-1 {
    height: 3404px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 524px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-8 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-gallery-1 {
  height: 380px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-8 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-1 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-2 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-3 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-4 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-5 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-6 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-7 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-8 {
  height: calc(100% + 50px);
  bottom: -50px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-8 .u-gallery-1 {
    height: 313px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-8 .u-back-image-1 {
    height: auto;
  }

  .u-section-8 .u-back-image-2 {
    height: auto;
  }

  .u-section-8 .u-back-image-3 {
    height: auto;
  }

  .u-section-8 .u-back-image-4 {
    height: auto;
  }

  .u-section-8 .u-back-image-5 {
    height: auto;
  }

  .u-section-8 .u-back-image-6 {
    height: auto;
  }

  .u-section-8 .u-back-image-7 {
    height: auto;
  }

  .u-section-8 .u-back-image-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1783px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-gallery-1 {
    height: 992px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 5726px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-gallery-1 {
    height: 3016px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3653px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1951px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 524px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-9 .u-container-layout-1 {
  padding: 17px 23px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 6px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-gallery-1 {
  height: 592px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-9 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-1 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-2 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-3 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-4 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-5 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-6 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-7 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-back-image-8 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-9 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-9 .u-gallery-1 {
    height: 486px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-9 .u-back-image-1 {
    width: auto;
  }

  .u-section-9 .u-back-image-2 {
    width: auto;
  }

  .u-section-9 .u-back-image-3 {
    width: auto;
  }

  .u-section-9 .u-back-image-4 {
    width: auto;
  }

  .u-section-9 .u-back-image-5 {
    width: auto;
  }

  .u-section-9 .u-back-image-6 {
    width: auto;
  }

  .u-section-9 .u-back-image-7 {
    width: auto;
  }

  .u-section-9 .u-back-image-8 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1504px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1543px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 4757px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-9 .u-gallery-1 {
    height: 4716px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 3062px;
  }

  .u-section-9 .u-gallery-1 {
    height: 3021px;
  }
}